html {
  padding: 0;
  margin: 0;
}

.formularios {
  margin: 200px 10%;
}
.formularios h2 {
  text-align: center;
}

.formularios h5 {
  text-align: center;
  margin: 5% 0;
}

label input {
  margin-left: 5%;
  border-radius: 20%;
}

.input-group-text {
  width: 200px;
}

.botones {
  display: flex;
  margin-left: 0;
}

.btn {
  margin: 0 auto;
  width: 100%;
}

.parent {
  margin-top: 100px;
  width: 800px;
  height: 800px;
}

.comida2 {
  position: absolute;
  bottom: 90px;
  font-weight: bold;
}

.caja {
  height: 200px;
  border: 10px solid #005128;
  margin-top: 40px;
  margin-right: 20px;
  text-align: center;
}

.caja h4 {
  margin-top: 10px;
  color: white;
}

.papasfritas {
  position: absolute;
  left: -130px;
  width: 400px;
}

.comida {
  font-weight: bold;
}
